@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Mukta");
* {
  padding: 0;
  margin: 0; }

.aboutUs {
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Quicksand", sans-serif; }
  .aboutUs h1 {
    font-size: 80px; }
  .aboutUs p {
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0.9; }
  .aboutUs .purpleExo {
    color: #5E2789;
    margin-bottom: -30px; }

.offer_message {
  text-align: center;
  font-size: 50px;
  color: #333333;
  margin-top: 20px;
  font-family: "Mukta", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.8px; }
  .offer_message .offer_message_bold {
    font-weight: bold; }

.offer {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9); }
  .offer p {
    margin-top: 8px; }
  .offer .icon {
    margin-top: 10px; }

.dark_background {
  height: auto;
  background-color: #17191B;
  color: white; }
  .dark_background .block {
    color: #333333;
    text-align: center;
    background-color: white;
    column-gap: 5px;
    padding: 10px; }

.news {
  margin-bottom: 50px; }
  .news p {
    font-size: 55px;
    color: #333333;
    margin-top: 60px;
    font-family: "Mukta", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.6px; }
  .news .photo_container {
    text-align: center;
    margin-top: 30px;
    position: relative;
    width: 100%; }
  .news .image {
    display: block;
    width: 100%;
    height: auto; }
  .news .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000; }
  .news .photo_container:hover .overlay {
    opacity: 0.8;
    cursor: pointer; }
  .news .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.map {
  margin-top: 150px;
  margin-bottom: 70px; }
  .map .contact {
    margin-left: 25px; }
    .map .contact h3 {
      color: #333333;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 400; }
    .map .contact .gym_city {
      font-size: 30px;
      color: #5E2789;
      margin-bottom: -5px; }
    .map .contact p {
      margin-bottom: -1px; }
    .map .contact .moreInfo {
      background-color: #5E2789;
      outline: none;
      padding: 10px 20px;
      margin-top: 15px;
      border-radius: 5px;
      border: none;
      color: white;
      font-family: "Mukta", sans-serif;
      font-weight: lighter;
      margin-bottom: 18px;
      cursor: pointer; }

.partners p {
  font-family: "Mukta", sans-serif;
  font-size: 25px;
  color: #333333;
  font-weight: lighter; }

.end {
  background-color: #171A1B;
  color: #9a9a9a; }
  .end .end_column {
    margin-top: 30px;
    margin-bottom: 30px; }
    .end .end_column .h3 {
      font-size: 18px;
      font-weight: 200; }
  .end .first_column {
    font-size: 14px;
    margin-left: 15px;
    letter-spacing: 0.7px; }
  .end .opening_hours li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(154, 154, 154, 0.5); }
    .end .opening_hours li .hours {
      float: right !important; }
  .end .city {
    margin-top: 40px; }
    .end .city .h3 {
      font-size: 18px;
      font-weight: 200; }
    .end .city p {
      font-size: 14px;
      font-weight: 200; }

/*# sourceMappingURL=style.css.map */
